.logo{
    background-image: url('../images/logo-ANSWER.svg');
    width: 151px;
    height: 40px;
    background-position: center center;
    @include image-replace-text;
}
// 個人頭像
.profile-pic{
    @include box-size(40px, 40px);
    object-fit: cover;
}
