.nav{
    flex-wrap: nowrap;
    &-side{
        position: fixed;
        min-width: 296px;
        min-height: 100vh;
    }
    &-link, &bar{
        padding: 0;
    }
    &-side-link{
        border-left: 4px solid transparent;
        &:hover{
            background: $gray-200;
            border-left: 4px solid $success;
        }
        &.active{
            border-left: 4px solid $success;
        }
    }
}

