.assignment{
    margin-left: 296px;
}
.dropdown-toggle::after{
    display: none;
}
.main-list-content{
    min-width: 320px;
}
.main-card{
    max-width: 584px;
}
.comment-pic{
    @include box-size(40px, 40px);
    object-fit: cover;
}
.file-download{
    &:hover{
        background-color: $gray-200;
    }
}
.ck-editor__editable{
    min-height: 100%;
    min-height: 170px;
    z-index: 999;
    border: 0 !important;
    color: $gray-400;
    padding: 0;
}
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar{
    border: 0 !important;
    border-bottom: 1px solid $gray-400 !important;
}

