body{
    font-family: Lato, "Roboto Mono", monospace, sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    color: $gray-900;
    display: block;
    text-decoration: none;
    &:hover{
        color: $success;
    }
}
ul{
    list-style: none;
    padding: 0;
}
hr{
    display: block;
    margin-top: 0;
}